---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: inception-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
{% for app in cfg.values() %}
    - host: {{ app.ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ app.name }}-svc
                port:
                  number: {{ app.port }}
{% endfor %}
    - host: ""
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: app3-svc
                port:
                  number: 80
