---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ cfg.name }}-config
data:
  index.html: |
    <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="utf-8" />
      <title>{{ cfg.name }}</title>
      <style>
        body{font-family:sans-serif;text-align:center;margin-top:15%}
        h1{font-size:3rem;color:#06c}
      </style>
    </head>
    <body>
      <h1>¡Hola, soy {{ cfg.name }}!</h1>
    </body>
    </html>
