---
apiVersion: apps/v1 kind: Deployment
metadata:
  name: {{ cfg.name }}
  labels:
    app: {{ cfg.name }}
spec:
  replicas: {{ cfg.replicas }}
  selector:
    matchLabels:
      app: {{ cfg.name }}
  template:
    metadata:
      labels:
        app: {{ cfg.name }}
    spec:
      containers:
        - name: {{ cfg.name }}
          image: {{ cfg.image }}
          ports:
            - containerPort: {{ cfg.port }}
