---
apiVersion: v1
kind: Service
metadata:
  name: {{ cfg.name }}-svc
spec:
  selector:
    app: {{ cfg.name }}
  ports:
    - protocol: TCP
      port: {{ cfg.port }}
      targetPort: {{ cfg.port }}


